.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.totalPosts,
.totalComments {
  margin-bottom: 5px;
}
.totalLikes {
  margin-bottom: 10px;
}

.pie {
  margin-bottom: 25px;
  width: 200px;
}

.post {
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid var(--main-color);
  margin-bottom: 10px;
}
.post div {
  display: flex;
}
.postBody {
  flex: 2;
  padding-right: 3px;
}
.postAuthor,
.postCreated,
.postComments {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .post {
    flex-direction: column;
    width: 300px;
  }
  .post div {
    align-content: flex-start;
  }
}
