.fbInfo {
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px;
  top: 8px;
  position: relative;
}
.fbPicture {
  margin-right: 10px;
  height: 30px;
}
.fbLogin {
  background: transparent;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  .fbName {
    display: none;
  }
}
