.feedHeader {
  background-color: var(--main-color);
  height: 30px;
  padding: 10px;
  color: white;
  text-align: center;
  font: normal 30px 'Vidaloka', serif;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleText {
  margin-left: 27px;
}
.rose {
  height: 30px;
}
.fbLogin {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
