.commentInput {
  width: 296px;
  border: 1px solid var(--main-color);
  background: none;
  resize: none;
}
textarea::placeholder {
  color: var(--placeholder-color);
}
.comment {
  width: 310px;
  margin: 8px 0 0 20px;
}
.commentButton {
  border-radius: 0%;
  border-color: var(--main-color);
  float: right;
  margin: 5px 8px 8px;
}
.commentButton:hover {
  background-color: var(--lightest-color);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .commentInput {
    height: 36px;
  }
  .commentButton:hover {
    background-color: inherit;
    cursor: default;
  }
}
