.postInput {
  width: 324px;
  border: 1px solid var(--main-color);
  background: none;
  resize: none;
}
textarea::placeholder {
  color: var(--placeholder-color);
}
.post {
  width: 330px;
  margin: 10px auto;
}
.postButton {
  border-radius: 0%;
  border-color: var(--main-color);
  float: right;
  margin-bottom: 5px;
}
.postButton:hover {
  background-color: var(--lightest-color);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .postInput {
    height: 36px;
  }
  .postButton:hover {
    background-color: inherit;
    cursor: default;
  }
}
