.postEntry {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-color);
  margin-bottom: 20px;
}
.postBody,
.postActions {
  border-width: 0 0 1px 0;
  border-color: var(--main-color);
  border-style: solid;
  text-align: left;
  font-size: 16px;
}
.postDetails {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 324px;
  background-color: var(--main-color);
  padding: 3px;
  color: #fff;
}
.postBody {
  width: 320px;
  padding: 15px 5px;
}
.postActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}
.postLikes {
  display: flex;
  flex-direction: row;
}
.postLikes button {
  margin-left: 5px;
  border-radius: 0%;
  border-color: var(--main-color);
}
.postLikes button:hover {
  background-color: var(--lightest-color);
  cursor: pointer;
}
.likesCount {
  min-width: 15px;
  align-self: center;
}
.postDelete button {
  border-radius: 0%;
  border-color: var(--main-color);
}
.postDelete button:hover {
  background-color: var(--lightest-color);
  cursor: pointer;
}
.comments {
  margin-left: 20px;
}
.commentBody {
  display: flex;
  flex-direction: column;
  border-width: 0 0 1px 0;
  border-color: var(--main-color);
  border-style: solid;
  padding: 5px;
}
.commentDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.commentText {
  padding-top: 5px;
  font-size: 16px;
  max-width: 300px;
}

@media screen and (max-width: 600px) {
  .postLikes button:hover,
  .postDelete button:hover {
    background-color: inherit;
    cursor: default;
  }
}
