:root {
  --main-color: #7f7caf;
  --lightest-color: #eeeeff;
  --placeholder-color: #9ea6bf;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
}
.topMenu {
  background-color: #bbacc1;
  margin-bottom: 20px;
  font-size: 18px;
}
.topMenu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.topMenu li {
  margin: 5px 20px;
}
.topMenu a {
  text-decoration: none;
  color: #0e0e0e;
}
.topMenu li a:hover {
  color: #ffd84c;
}
button,
textarea {
  font-family: inherit;
}
select,
textarea,
input {
  font-size: 16px;
}
button {
  font-size: 14px;
}
button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .topMenu li a:hover {
    color: inherit;
  }
}
